
/*** POSTER / REPONDRE / PREVI ***/
#preview{padding: 30px; border: var(--border); border-radius: 5px;}

.wrapped{border: var(--border); border-radius: 5px; padding: 30px;}
.wrapped h1.page-title{margin-bottom: 30px; border-bottom: var(--border); text-align: left; padding-bottom: 10px;}
.wrapped .panel .postbody .content{padding-top: 15px;}
.wrapped .review_post_solo .viewtopic_body_resume, .post_search_resume, #preview .viewtopic_body_resume{background: var(--textInsert); margin-top: 15px; padding: 15px; border-radius: 5px; display: grid;}
.wrapped .review_post_solo .viewtopic_body_resume:before, .post_search_resume:before, #preview .viewtopic_body_resume:before{padding-bottom: 10px;}
.wrapped .review_post_solo .viewtopic_body_resume:empty, .post_search_resume:empty, #preview .viewtopic_body_resume:empty{display: none;}
.date_msg{font-family: var(--fontMono);}
.wrapped:has(.pagination:empty) .panel:nth-last-child(2){margin-bottom: 0px !important;}
.wrapped .privmsg_subheader:has(.pagination:empty){display: none;}

#postingbox .navigation_chain{margin-bottom: 30px;}
#postingbox .navigation_chain a{font-size: var(--normal-size); font-family: var(--fontMono);}
#postingbox.panel h1.page-title{margin-bottom: 5px !important;}

#postingbox fieldset.fields1{display: grid; grid-template-columns: min-content 1fr; grid-template-rows: auto; grid-gap: 15px;}
#postingbox fieldset.fields1 > dl{grid-column: 1 / span 2}
#postingbox fieldset.fields1 > dl > dd{display: flex; justify-content: space-between; gap: 10px;}
#postingbox fieldset.fields1 > dl input{flex-grow: 5; width: 100% !important; text-align: left;}
#postingbox fieldset.fields1 > dl:nth-child(n+2){margin-top: -10px;}
.main_forum dl.subject_type select{display: none;} /*do not show for other than admin*/
.main_forum:has(.up_down_buttons .fa-cog) dl.subject_type select{display: block;}
#postingbox fieldset.fields1 #smiley-box{grid-column: 1 / span 1; display: flex; flex-direction: column; justify-content: space-between;}
#postingbox fieldset.fields1 #message-box{grid-column: 2 / span 1;}
#postingbox #message-box .sceditor-container, #postingbox #message-box .sceditor-toolbar, div.sceditor-group{border: none !important;}
#postingbox fieldset.fields1 #message-box div#textarea_content{width: 100% !important;}
#postingbox fieldset.fields1 #resume-field{grid-column: 1 / span 2;}
#postingbox fieldset.submit-buttons{grid-column: 1 / span 2;}

#resume-field{display: block;}
#resume-field label{font-family: var(--fontMono); font-weight: normal;}
#resume-field textarea{width: 100%; font-family: var(--font); min-height: 150px;}
.viewtopic_body_resume {white-space: pre-line;}

#dice_to_del a img{display: none;}
#dice_to_del a:before{content: "\f0fe"; font-family: "Font Awesome 5 Free";}



/**** TOPIC ****/
.viewtopic_body_message_bottom{position: relative; display: grid;  align-items: start; grid-template-columns: 1fr; align-items: start;}
.viewtopic_body_message_bottom .field_label{display: none;}
.viewtopic_body_message_bottom .field-icon {grid-row: 1 / span 1; grid-column: 2 / span 1; z-index: 5;}
.viewtopic_body_message_bottom .field-icon img {max-height: 150px; max-width: 100px; border-radius: 5px;}
.viewtopic_body_message_bottom .field-mystere {position: absolute; right: -87px; top: -71px; z-index: 1; rotate: 5deg;}
.viewtopic_body_message_bottom .field-mystere img{width: 270px;}

/* résumé */
.viewtopic_body_message_bottom:has(.viewtopic_body_resume:empty){display: none;}
.post_row:has(.viewtopic_body_resume:empty) .fa_like_div{grid-row: 3 / span 1; grid-column: 1 / span 1;}
.viewtopic_body_resume:not(:empty):before, .post_search_resume:not(:empty):before{content: "Résumé du RP : \A"; white-space: pre-line; font-family: var(--fontMono);}
.profile_hidden .post_row:has(.viewtopic_body_resume:empty) .fa_like_div{grid-column: 1 / span 2;}

/* main body */
.viewtopic_container_whole{display: flex; width: calc(100% + 40px); gap: 15px;}

.viewtopic_container_whole .post{border: 1px solid var(--contrast); border-radius: 5px; margin-bottom: 30px; padding: 30px;}

.viewtopic_body_main{flex-grow: 100;}

.post_row {background: var(--neutral); display: grid; grid-template-rows: minmax(0, auto) 1fr;
  grid-template-columns: min-content 1fr; gap: 30px;}

.viewtopic_container_whole .text_options{width: 26px !important; position: sticky; align-self: flex-start; top: 100px; z-index: 14; margin-bottom: 30px;}
.text_options{display: flex; flex-direction: column; justify-content: flex-start; gap: 10px; align-items: center;}
.text_options_button, .profile-icons li a, .fa_like, .fa_dislike, .post_contact a, .mp-icons li a{border: 1px solid var(--contrast) !important; padding: 5px !important; border-radius: 5px; 
  color: var(--contrast); border-color: var(--contrast) !important;}

.text_options_button:hover, .fa_like:hover, .fa_dislike:hover, .post_contact a:hover, .profile-icons li a:hover, .mp-icons li a:hover{border-color: var(--accentClr) !important; color: var(--accentClr);}
.post_profile {grid-column: 1; grid-row: 1  / span 2;}
.post_message {grid-column: 2; grid-row: 2 / span 2;}
.profile_hidden .post_profile {display: none;}
.profile_hidden .post_message {grid-column: 1 / -1; grid-row: 2;}
.profile_hidden .post_details {grid-column: 1 / span 2;}

/* profile */
.post_profile{display: flex; flex-direction: column; gap: 15px;}
.post_profile .field_separator{display: none;}
.post_avatar img{width: 200px; height: 320px; border-radius: 5px;}
.post_avatar{position: relative;}
.viewtopic_body_on_avatar{position: absolute; top: 0; left: 0; background: var(--neutral); visibility: hidden; opacity: 0; transition: opacity .2s, visibility .2s; margin: 15px;
    padding: 15px; border-radius: 5px; font-size: var(--little-size);}
.post_avatar:hover .viewtopic_body_on_avatar {visibility: visible; opacity: 1;}
.viewtopic_body_on_avatar:empty {display: none;}


.post_contact{display: flex; gap: 10px; justify-content: center;}
.post_pseudo{font-size: var(--title-size); text-align: center;}
.post_profile .label{font-weight: bold; padding-right: 5px; font-family: var(--fontMono);}
.grp_erudroids .post_profile .field_label{color: var(--grpErudroides) !important;}
.grp_astr .post_profile .field_label{color: var(--grpAstr) !important;}
.grp_mortelles .post_profile .field_label{color: var(--grpMortelles) !important;}

.viewtopic_body_over_avatar{position: relative;}
.viewtopic_body_over_avatar:empty{display: none;}
.viewtopic_body_over_avatar .field_content{border: 1px solid var(--contrast); background-color: var(--neutral); display: block; border-radius: 5px; text-align: center; padding: 5px; opacity: 0.85;}
.viewtopic_body_over_avatar .field_label{display: none;}
.viewtopic_body_over_avatar .field_content:before, .viewtopic_body_over_avatar .field_content{z-index: 5; position: relative;}
.grp_mortelles .viewtopic_body_over_avatar .field_content:before{content: "Mortel-les \A Famille "; white-space: pre;}
.grp_astr .viewtopic_body_over_avatar .field_content:before{content: "ASTR \A"; white-space: pre;}
.grp_erudroids .viewtopic_body_over_avatar .field_content:before{content: "Erudroïds \A"; white-space: pre;}
.viewtopic_body_over_avatar .user_field:after{content: " "; position: absolute; background-size: contain !important; background-repeat: no-repeat !important;}
.grp_mortelles .viewtopic_body_over_avatar .field-maison, .grp_mortelles .viewtopic_body_over_avatar .field-cercle, .grp_astr .viewtopic_body_over_avatar .field-cercle,
.grp_astr .viewtopic_body_over_avatar .field-famille, .grp_erudroids .viewtopic_body_over_avatar .field-famille, .grp_erudroids .viewtopic_body_over_avatar .field-maison{display: none;}
.grp_mortelles .viewtopic_body_over_avatar .user_field:after{background: url(https://2img.net/i.imgur.com/ypG0PYw.png); width: 380px; height: 380px; top: -66px; left: -145px; rotate: -59deg;}
.grp_astr .viewtopic_body_over_avatar .user_field:after{background: url(https://2img.net/i.imgur.com/UbE3z6j.png); width: 350px; height: 350px; top: -66px; left: -211px; rotate: -3deg;}
.grp_erudroids .viewtopic_body_over_avatar .user_field:after{background: url(https://2img.net/i.imgur.com/QFgwmgk.png); width: 320px; height: 320px; top: -66px; left: -236px; rotate: -27deg;}

.viewtopic_body_under_avatar .field-date-dinscription, .viewtopic_body_under_avatar .field-couleur-de-dialogue-dark-mode, .viewtopic_body_under_avatar .field-couleur-de-dialogue-light-mode{display: none;}


/* info msg */
.post_details {grid-column: 2 / span 1; display: flex; align-items: center; width: 100%; justify-content: space-between; font-family: var(--fontMono);}
span.post_date {flex-grow: 100;}
.fa-mention{display: none;}

/* msg content */
.viewtopic_body_message_content {font-size: var(--message_font_size, var(--normal-size)); line-height: var(--message_line_height, 1.5);}
.post_message.postbody.content {background: var(--textInsert); padding: 15px; border-radius: 5px; height: 100%;}
.signature_div{border-top: 1px solid var(--contrast); margin-top: 30px;}
.poll{border: 1px solid var(--contrast); margin-bottom: 30px !important; padding: 15px;}

/* bas des msg */
.fa_like_div {grid-row: 4 / span 1; grid-column: 1 / span 1; align-items: flex-start; display: flex; flex-direction: column; justify-content: flex-end; min-width: 100px;}
.fa_liked, .fa_disliked{background: var(--accentClrDark) !important; color: var(--neutral) !important; border-color: var(--accentClrDark) !important; padding: 5px !important}
.rep-nb{background: transparent !important; margin-left: 0px !important;}
.fa_like_buttons {display: flex; gap: 10px;}
.fa_like {position: relative;}
.fa_like:hover::after, .fa_dislike:hover::after, .fa_liked:hover::after, .fa_disliked:hover::after {position: absolute; margin-top: 5px; 
  background: var(--neutral); border: 1px solid var(--contrast); padding: 5px 8px; border-radius: 5px; white-space: nowrap; z-index: 999; color: var(--contrast);}
.fa_like:hover::after{content: "Aimer ce message";}
.fa_dislike:hover::after{content: "Pleurer sur ce message";}
.fa_liked:hover::after{content: "Ne plus aimer ce message";}
.fa_disliked:hover::after{content: "Ne plus pleurer sur ce message";}
.fa_dislike_list, .fa_like_list{font-size: var(--little-size);}

.viewtopic_body_message_bottom{grid-row: 4 / span 1; grid-column: 2 / span 1;}

/* Sujets surveillés */
form[action="/search?search_id=watchsearch"] table {border-spacing: 15px;}
form[action="/search?search_id=watchsearch"] thead th {font-family: var(--fontMono); text-align: left; margin-bottom: 15px;}
form[action="/search?search_id=watchsearch"] th:nth-child(6), form[action="/search?search_id=watchsearch"] td:nth-child(6), 
form[action="/search?search_id=watchsearch"] th:nth-child(4), form[action="/search?search_id=watchsearch"] td:nth-child(4),
form[action="/search?search_id=watchsearch"] tbody td:nth-child(2) .mobile-visible{display: none;}
form[action="/search?search_id=watchsearch"] td:has(img[src*="locked"]){border-left: 2px solid var(--contrast);}
form[action="/search?search_id=watchsearch"] td:has(img[src*="unread"]){border-left: 2px solid var(--accentClr);}
form[action="/search?search_id=watchsearch"] td:nth-child(1) img{display: none;}
form[action="/search?search_id=watchsearch"] td:nth-child(2) > strong{display: block; font-family: var(--fontMono); color: var(--textColorAccent);}
form[action="/search?search_id=watchsearch"] td:nth-child(2) > strong:before{content: "\f621"; font-family: "Font Awesome 6 Free"; font-weight: 900; padding-right: 10px;}
form[action="/search?search_id=watchsearch"] p.right-box {display: flex; justify-content: center; width: 100%; align-items: center; visibility: hidden;}
form[action="/search?search_id=watchsearch"] p.right-box a{display: block; visibility: visible; border: var(--border); border-color: var(--accentClrDark); border-radius: 5px; padding: 10px;}
form[action="/search?search_id=watchsearch"] p.right-box a:before{content: "\f061"; font-family: "Font Awesome 6 Free"; font-weight: 900; padding-right: 10px;}
form[action="/search?search_id=watchsearch"] p.right-box:has(a[href="#top"]){display: none;}
form[action="/search?search_id=watchsearch"] .topictitle{font-size: var(--normal-size);}
form[action="/search?search_id=watchsearch"] .pagination{margin-bottom: 0px;}

/* results page */
.container.results_page{border: var(--border); border-radius: 5px; padding: 30px;}
.container.results_page .page-title{text-align: left; border-bottom: var(--border); padding-bottom: 15px !important; margin-bottom: 30px !important;}
.post_search{margin: 10px auto; border: var(--border); padding: 15px; border-radius: 5px; margin-bottom: 30px;}
.post_search:has(+ .pagination:empty){margin-bottom: 0px;}
.postsearch_infos {display: flex; justify-content: space-between; border-bottom: var(--border); padding-bottom: 5px; margin-bottom: 15px;}
.pagination:empty{display: none;}
.container.results_page .search_page_top:not(:empty){margin-bottom: 30px;}

.btn_icon_profile_edit input{border: none !important; padding: 0px !important; font-family: var(--fontMono);}
.btn_icon_profile_edit:before{border: none !important; margin-right: -5px;}
.btn_icon_profile_edit{border: var(--border); border-radius: 5px;}
.btn_icon_profile_edit[for="button1"]{margin-right: 30px;}
.button2[type="submit"], .button1[type="submit"]{border: var(--border); font-family: var(--fontMono);}

/*SMILEYS*/
div#simple-wrap{padding: 20px;}


/* MESSAGES PRIVES */
/* previ */
#preview h1{margin-bottom: 30px !important; text-align: left; border-bottom: var(--border); padding-bottom: 10px; margin-top: 0px;}
#preview .author{font-size: var(--little-size); margin-bottom: 30px;}

/* read */
.privmsg_global > .privmsg_header{border-bottom: 1px solid var(--contrast); padding: 10px 0;}
.privmsg_global{margin-bottom: 30px;}
.read_mp .message_infos{padding: 15px 0 !important;}
.read_mp .read_mp_avatar img{border-radius: 5px; width: 200px; height: 320px;}
.read_mp .message_from {display: flex; flex-direction: column; align-items: flex-start; gap: 15px; margin-top: 15px;}
.read_mp .message_from a:has(#i_icon_profile):before{content: "Voir le profil";}
.read_mp .message_from a:has(#i_icon_profile){border: var(--border); border-radius: 5px; padding: 5px; color: var(--contrast) !important;}
.read_mp .message_from a:has(#i_icon_profile):hover{border-color: var(--accentClr) !important; color: var(--accentClr) !important;}
.read_mp .message_from a img#i_icon_profile{display: contents;}
.replypm_button{font-size: var(--normal-size) !important; padding: 10px 15px !important;}
.submit-buttons {text-align: center; display: flex; gap: 15px; align-items: center; justify-content: center;}


/* mp box*/
.privmsg_global{border: var(--border); border-radius: 5px; padding: 30px;}
.privmsg_header > div{display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
.privmsg_header .newpm_button i, .submit-buttons .replypm_button, .privmsg_select i, .privmsg_bottom_2 .input_wrapper:before {border: 1px solid var(--accentClrDark); border-radius: 5px; padding: 5px; aspect-ratio: 1 / 1; font-size: 12px; line-height: 12px; 
  width: 24px; text-align: center !important;}
.privmsg_select i, .privmsg_bottom_2 .input_wrapper:before{border-color: var(--contrast) !important;}
.privmsg_header .newpm_button:hover i, .privmsg_select a:hover i, .submit-buttons.replypm_button a:hover{border-color: var(--accentClr) !important; color: var(--accentClr) !important;}
.privmsg_header .newpm_button, .privmsg_select, .privmsg_header .replypm_button{font-family: var(--fontMono);}
.privmsg_contenance {font-size: var(--little-size);}

.privmsg_subheader {display: flex; justify-content: space-between; flex-wrap: wrap;}
.privmsg_subheader:has(.pagination_special){justify-content: flex-end !important;}

.privmsg_subheader.pagination_special{justify-content: flex-end;}

.mp_row {display: grid; grid-gap: 10px; align-items: center; margin: 10px -15px; padding: 15px 15px 15px 15px; position: relative;}
.mp_row:has(img[src*="unread"]):after{z-index: 5;}
.mp_infos .topictitle{font-family: var(--fontMono);}
.mp_row:has(img[src*="unread"]):before{left: -157px !important; height: 70px !important; top: 58px !important;}
.mp_row .mp_img > img{display: none;}
.mp_row:first-child{margin-top: 0px;}

.privmsg_select a{color: var(--contrast) !important;}
.privmsg_bottom_1{border-bottom: var(--border); margin-top: 30px; padding-bottom: 15px; margin-bottom: 15px;}
.privmsg_bottom_1 span {display: flex; gap: 15px;}

.privmsg_bottom_2 .input_wrapper input{padding: 10px !important;}
.privmsg_bottom_2 .input_wrapper:before{content:"\f061"; font-family: "Font Awesome 5 Free"; font-weight: 600;}
.privmsg_bottom_2 .input_wrapper.trashcan:before{content: "\f2ed";}
.privmsg_bottom_2 .input_wrapper.save:before{content: "\f0c7";}
.privmsg_bottom_2 .input_wrapper:hover:before, .privmsg_bottom_2 .input_wrapper:hover input{border-color: var(--accentClr) !important; color: var(--accentClr);}

.privmsg_bottom_2 > div{display: flex; gap: 15px;}

#postingbox:has(#find_user) #resume-field{display: none;}
#add_username{margin: auto;}
#find_user{border: var(--border);}

/* Menu des MPS */
#privmsgs-menu {display: flex; justify-content: flex-start; gap: 15px; margin: 30px 0;}

#privmsgs-menu li {
  display: flex;
  align-items: center;
  gap: 5px;
}


/*** ------------------------------- ***/
/*** AFFICHAGE D'UN MESSAGE PRIVÉ -- ***/

.message {
  background: var(--neutral);
  border-radius: 5px;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: 220px auto;
}

.message_infos {
  grid-column: 1 / span 2;
  border-bottom: 1px solid var(--neutral);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.mp-icons {
  display: flex;
  float: right;
}

.message_profil {
  padding: 10px;
  border-right: 1px solid var(--neutral);
  text-align: center;
}

.message_content {
  padding: 25px;
}


/*** PAGE GROUPE ***/
.group_header > h1{text-align: left; margin-bottom: 0px !important;}
.group_underline{border-top: 1px solid var(--contrast); font-family: var(--fontMono); padding-top: 10px; margin-top: 10px;}
.banner_erudroides > img, .banner_mortelles > img, .banner_astr > img{width: 400px; position: absolute;}
.banner_erudroides > img{top: 34px; right: -60px; transform: rotate(15deg);}
.banner_mortelles > img{top: -80px; left: 250px; transform: rotate(-15deg);}
.banner_astr > img {top: -34px; left: -86px; transform: rotate(-14deg);}

/*** MEMBERLIST ***/
.is_displayed{display: block !important;}
.container.memberlist h1.page-title{border-bottom: 1px solid var(--contrast); padding-bottom: 10px; margin: 0 0 10px 0; text-align: left;}
.memberlist .filtres{border: 1px solid var(--contrast); border-radius: 5px; padding: 30px; margin-bottom: 30px;}
.memberlist .ui-group, .memberlist .sorts, .memberlist .croiss, .filtre_pseudo{display: flex; align-items: center; margin: 10px 0;}
.memberlist .ui-group h3, .memberlist .sorts h3, .memberlist .croiss h3, .filtre_pseudo h3{width: 200px;}
.memberlist .filtre_pseudo input{width: calc(100% - 200px);}
.memberlist .filtres .button.is-checked{background-color: var(--accentClr); color: var(--neutral); padding: 5px !important;}
.memberlist .filtres .button{padding: 5px !important;}

.userlist_profil{border: 1px solid var(--contrast); border-radius: 5px; padding: 20px; display: flex; flex-direction: column; row-gap: 20px; width: calc(50% - 20px); margin: 10px;}
.filtre_bloc_membres {margin: -10px; display: flex; flex-wrap: wrap;}
/*.userlist_profil:nth-child(2n) {left: calc(50% + 10px) !important;}*/
.userlist_pseudo{background: var(--contrast); font-family: var(--fontMono); padding: 5px; border-radius: 5px; text-align: center;}
.userlist_pseudo > a > span > strong, .userlist_pseudo > a {color: var(--neutral) !important;}
.userlist_contact{display: flex; justify-content: space-around; font-family: var(--fontMono)}
.userlist_contact a{color: var(--contrast);}
.userlist_contact a[href^="/privmsg?mode=post"]:before{content: "\f27a"; font-family: "Font Awesome 6 Free"; font-weight: 500;}
.userlist_contact a:hover > div{color: var(--accentClr) !important;}
.userlist_avatar > img {width: 100px; height: 100px; object-fit: cover; object-position: center; position: relative; border-radius: 5px;}
.mbrl_corps{display: flex; gap: 20px;}
.mbrl_label{font-family: var(--fontMono);}
.mrbl_content{text-transform: lowercase;}
.mbrl_info{display: none;}
.mbrl_rs, .mbrl_dispo_rp{display: none;} /*par défaut, pas présente, mais on ajoute .is_displayed en class si y a qqchose*/
.isotope-pager {margin-top: 20px;}
.isotope-pager button{border: 1px solid var(--contrast); padding: 5px 10px !important; margin-right: 10px; width: 30px; height: 30px; text-align: center;}
.isotope-pager button:hover{border-color: var(--accentClr);}
.isotope-pager button.is_checked{background-color: var(--accentClrDark); color: var(--neutral); border: 1px solid var(--accentClrDark);}
.isotope-pager button.is_checked:hover{background-color: var(--accentClr); color: var(--neutral); border-color: var(--accentClr);}

/*** ------------------------------- ***/
/*** EDITION DE PROFIL ------------- ***/
df {align-items: center;}
.panel h3, form h1.page-title, .inner h1.page-title{border-bottom: 1px solid var(--contrast); padding-bottom: 10px; margin-bottom: 10px; 
  font-family: var(--fontMono);}
form h1.page-title{margin-bottom: 30px !important; text-align: left;}
.panel fieldset dt, .panel fieldset dt span{font-family: var(--fontMono); color: var(--contrast) !important;}
.btn_icon_profile_edit:before{content: "\f061"; font-weight: 700 !important;}
.btn_icon_profile_edit{padding: 15px;}
input:is([type="radio"], [type="checkbox"]) {accent-color: var(--accentClr);}

/*** ------------------------------- ***/
/*** TOOLTIPS ---------------------- ***/
#s-m-t-tooltip {
    /* styles de base */
    max-width:300px;
    z-index: 999;
    margin: 12px;
    /* apparence générale */
    padding:10px;
    background-color: var(--neutral);
    border: 1px solid var(--contrast);
    font-family: var(--fontMono);
    text-transform: uppercase;
    border-radius: 5px;
    font-size: var(--little-size);
}


/* PA */
astr{color: var(--grpAstr);}
mortelles{color: var(--grpMortelles);}
erudroides{color: var(--grpErudroides);}

/* PA UPDATE */
.pa_topic{margin-bottom: 15px;}
.pa_topic:last-child{margin-bottom: 0px !important;}
.pa_general .pa_topic a i{border: none !important;}
.pa_derniers_sujets{height: 334px !important;}
.pa_liens{height: calc(100% + 10px)!important;}

#page-footer{flex-direction: column;}


.pa_general {
  display: grid;
  grid-template-columns: 3fr 1fr 230px 290px;
  grid-template-rows: 1fr 120px 225px 70px 80px 20px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}

.pa_general a{font-family: var(--fontMono); text-transform: uppercase;}
.pa_liens a, .pa_liens a i, .pa_staff a, .pa_staff a i{color: var(--contrast) !important; border-color: var(--contrast) !important;}
.pa_general:before{content: ""; background-image: var(--img_pa); background-size: contain; width: 550px; height: 490px;
    transform: rotate(-6deg); position: absolute; top: 41px; left: -200px; background-repeat: no-repeat; z-index: 0;}

.img_pa{position: absolute;}

.pa_ys { grid-area: 1 / 1 / 2 / 5; font-family: "Ocular Doom"; font-size: 90px; line-height: 80px; text-align: right; z-index: 1;}
.pa_contexte { grid-area: 2 / 3 / 3 / 5; z-index: 1;}
.pa_contexte_liens {padding-top: 30px; display: flex; justify-content: space-between;}
.pa_updates { grid-area: 3 / 1 / 4 / 3; z-index: 4; border: 1px solid var(--contrast); padding: 30px; border-radius: 5px;}
.pa_updates span {border: 1px solid var(--contrast); border-radius: 5px; font-family: var(--fontMono); padding: 4px; float: left; margin-right: 9px;}
.pa_updates span.pa_updates_new{border: 1px solid var(--accentClr); background-color: var(--accentClr); color: var(--neutral);}
.pa_updates_scroll{display: flex; flex-direction: column; row-gap: 15px; overflow: auto; height: 114px; padding-right: 5px;}
.pa_staff { grid-area: 4 / 1 / 5 / 3; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start; gap: 5px;
	position: relative;}
.pa_staff img{height: 70px; border-radius: 5px;}
.pa_staff h2{writing-mode: sideways-lr; position: absolute; left: -40px;}
.pa_staff > div {display: flex; flex-grow: 2; gap: 15px; align-items: center;}
.pa_poto { grid-area: 5 / 1 / 7 / 2; }
.pa_poto_liens img{height: 40px !important; border-radius: 5px;}
.pa_poto_liens {display: flex; gap: 10px; flex-wrap: wrap;}
.pa_poto_liens a:has(img){height: 40px;}
.pa_temps { grid-area: 5 / 2 / 7 / 4; position: relative; display: flex; flex-direction: column; justify-content: flex-end;}
.pa_temps h2:first-child {border-bottom: 1px solid var(--contrast); padding-bottom: 5px; margin-bottom: 10px;}
.pa_temps > h2{padding: 0px; z-index: 3; position: relative; text-align: left;}
.pa_temps .pa_temps_sablier{position: absolute; height: 160px; transform: rotate(15deg); top: 0px; right: 7px; z-index: 3;}
.pa_liens { grid-area: 3 / 3 / 5 / 4; display: flex; height: calc(100% - 10px); flex-direction: column; justify-content: space-between; margin-top: -10px;}
.pa_derniers_sujets_global { grid-area: 3 / 4 / 6 / 5; border: 1px solid var(--contrast); padding: 30px;
    border-radius: 5px;}
.pa_derniers_sujets{overflow: auto; height: 325px; padding-right: 5px;}
.pa_derniers_sujets > .derniers_sujets_3_topic > a {display: block; font-size: var(--normal-size);}
.derniers_sujets_3_topic:not(:last-child){margin-bottom: 30px;}
.pa_gestion{grid-area: 6 / 4 / 6 / 4; display: flex; align-items: center; justify-content: center; gap: 15px; margin-top: -30px;}



/****** ------------------------------------------------------------------------------ 
 ****** ENTETE DU FORUM --------------------------------------------------------------
 ****** Tous les éléments qui s'affichent en tête de toutes les pages ---------------- ******/

/* Notiffi CSS */
/* Cache la toolbar défaut */
#fa_toolbar {
  display: none
}
/* navbar droite */
#navbar_droite{display: grid;
    grid-template-columns: 1fr 35px;
    grid-template-rows: 20px 20px;
    position: relative; z-index: 99; 
    font-family: var(--fontMono); background: var(--neutral); column-gap: 15px;}
#navbar_droite > a{grid-area: 1 / 1 / 2 / 2; justify-self: end; align-self: end;}

/* Bouton de notification */
#notiffi_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: end;
  align-self: start;
}

/* Conteneur du nombre de notification non lues REMPLI */
.unread_count {
  position: relative;
  font-weight: 600;
  scale: 1;
  opacity: 1;
  aspect-ratio: 1;
  transition: scale ease-out .2s;
}

/* Conteneur du nombre de notification non lues VIDE */
.unread_count:empty {
  position: absolute;
  scale: 0;
  opacity: 0;
  transition: all ease-out .2s;
}

#notiffi_button{text-transform: lowercase; color: var(--accentClr) !important;}
#notiffi_button:has(.unread_count:empty){text-transform: capitalize; color: var(--contrast) !important;} /*pas de notif count = en blanc et capitalized*/

/* Menu des notifications FERMÉ */
#notiffi_panel {
  --menuSize: 500px;
  /* taille du Menu */
  width: var(--menuSize);
  position: fixed;
  z-index: 98;
  top: 80px;
  max-height: calc(100% - 80px - 20px);
  /*right: calc(var(--menuSize) * -1);*/
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  background: var(--neutral);
  border-left: 1px solid var(--neutral);
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all ease .7s;
  border-radius: 5px;
  border: 1px solid var(--contrast);
  font-family: var(--fontMono);
}

/* Menu des notifications OUVERT */
#notiffi_panel.open {
  visibility: visible;
  opacity: 1;
}

/* Conteneur des notifications */
.all_notifications {
  width: 100%;
  overflow: auto;
  max-height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* Désactive la barre de défilement dans le contenenur */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Séparateurs */
.notif_sep{height: 1px; border-bottom: 1px solid var(--contrast); width: 100%;}
.notification:last-child .notif_sep{display: none;}

/* Conteneur des notifications VIDE */
.no_notification {
  text-align: center;
}

/* Conteneur du footer du menu
  (voir toutes les notifications, marquer comme lu, tout supprimer) */
.notiffi_manage {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Bouton voir toutes les notifs */
a.notiffi_see_all:before {
    content: "\f061";
    margin-right: 5px;
    }
a.notiffi_see_all {color: var(--contrast) !important;}
a.notiffi_see_all:hover{color: var(--textColorAccent) !important;
  &:before{border-color: var(--textColorAccent)!important;}
}

/* Conteneur des bouton d'action des notifications */
.notiffi_actions {
  display: flex;
  gap: 10px;
  /* Bouton d'action */
  button {
    border-radius: 5px;
    
    &#notiffi_mark_as_read:hover:before {
      color: var(--accentClr);
      border-color: var(--accentClr) !important;
    }
    &#notiffi_delete_all:hover:before {
      color: var(--accentClrDark);
      border-color: var(--accentClrDark) !important;
    }
  }
}

#notiffi_mark_as_read:before, #notiffi_delete_all:before, a.notiffi_see_all:before{
    border: 1px solid var(--contrast);
    border-radius: 5px;
    font-family: "Font Awesome 5 Free";
    padding: 5px;
    aspect-ratio: 1 / 1;
    text-align: center;
    display: inline-block;
    font-size: 12px; line-height: 12px;}
#notiffi_mark_as_read:before{content:"\f00c";}
#notiffi_delete_all:before{content:"\f2ed";}
button#notiffi_mark_as_read, button#notiffi_delete_all{padding: 0!important; background-color: none;}

/* Apparence d'une notification */
.notification {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: notiffiFadeIn 0.1s ease-in-out;
}
.notification .notif_containeur{display: flex;}

/* Animation d'apparition des notifications */
@keyframes notiffiFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Apparence d'une notification NON LUE */
.notification .notif_icon i{display: none;}
.notification.unread .notif_icon:before{content: "\f621"; font-family: "Font Awesome 6 Free"; font-weight: 900;}
.notification:not(.alert) .notif_content{margin-left: 15px;}
/* Conteneur des détails de la notification (avatar, icone) */
.notif_details {
  position: relative;
  align-self: start;
}

/* Conteneur de l'avatar */
.notif_avatar {
  background: var(--neutral);
  height: 40px;
  border-radius: 5px;
  aspect-ratio: 1;

  /* Image de l'avatar */
  & img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    filter: grayscale(1);
  }
}

.notification.unread .notif_avatar img{filter: grayscale(0);}

/* Icone du type de la notification */
.notif_icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icone lorsque la notification est non lue */
.notification.unread .notif_icon {
  color: var(--accentClr);
  font-size: 30px;
  width: 40px;
  height: 40px;
}

/* Conteneur du texte et la date de la notification */
.notif_content {
  width: 100%;
}

/* Date de la notification */
.notif_time {
  margin-top: 5px;
  font-size: 12px;
}
.notif_time:before{content: "(";}
.notif_time:after{content: ")";}

/* Bouton de suppression de la notification */
.notif_close, .alert_close {
  opacity: 0;
  aspect-ratio: 1;
  padding: 2px;
  transition: all .3s;
  padding: 0 !important;
  color: var(--accentClrDark);
  background: none;
}
.alert_close{opacity: 1;}

/* Affiche le bouton de suppression au survol de la notification */
.notification:hover .notif_close {
  opacity: 1
}

.notif_close:before, .alert_close:before{
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;
  padding-right: 0.5rem;}


/* Alerte d'une notification */
.notification.alert {
  position: fixed;
  width: 400px;
  align-items: center;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  background: var(--textInsert);
  transform: translateY(100%);
  opacity: 0;
  filter: blur(5px);
  transition: all .5s ease-in-out;
  flex-direction: row;
  border-radius: 5px;
  padding: 10px;
}

.notification.alert.up {
  transform: translateY(0%);
  opacity: 1;
  filter: blur(0);
  transition: all .5s ease-in-out;
}

.alert_close > i {display: none;}

/*** ------------------------------- ***/
/*** SWITCHEROO - Par Monomer ------ ***/
/*** Gestionnaire de multicompte --- ***/

:root {
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}

/* BARRE SWITCHEROO --- */
/* BARRE --- */
.switcheroo {
  color: var(--textColor);
  grid-area: 1 / 2 / 3 / 3;
  justify-self: center;
  align-self: start;
  min-height: 35px;
  min-width: 35px;
  border-radius: 8px;
}

nav#switcheroo:before {
    content: " ";
    position: absolute;
    background-image: var(--switcheroo_avatar_url);
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
  border-radius: 5px;}

.switcheroo__divider, .switcheroo__logo{display: none;}

/* Positionnement des ronds */
.switcheroo__squircles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 15px;
}

/* AFFICHAGE DES COMPTES ---*/

/* Rond */
.switcheroo__squircle {
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--neutral);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: border-radius 128ms var(--ease);
}

/* Rond au survol */
.switcheroo__squircle:hover, .switcheroo__squircle:hover img, .switcheroo__squircle:hover .switcheroo__add:before {
  border-radius: 5px !important;
}

/* Conteneur de l'avatar */
.switcheroo__avatar {
  width: 100%;
  aspect-ratio: 1/1;
}

/* Image de l'avatar */
.switcheroo__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transition: border-radius 128ms var(--ease);
  position: relative;
}

.switcheroo__squircle.active .switcheroo__avatar img{border-radius: 5px;}

/* Avatar du compte connecté */
.switcheroo__squircle.active,
.switcheroo__squircle.active img {
  outline-color: var(--neutral);
  cursor: default;
}

/* AJOUTER UN COMPTE ---*/
/* button : ajouter un compte */
.switcheroo__squircle--button {
  transition: border-radius 128ms var(--ease);
  color: var(--contrast);
}

/* icon plus */
.switcheroo__squircle--button div.switcheroo__add, .switcheroo__squircle--button div.switcheroo__add:before {
  width: 35px; height: 35px; border: 50% !important;
}
.switcheroo__squircle--button div.switcheroo__add:hover:before, .switcheroo__squircles:not(:nth-child(3)) div.switcheroo__add:before{
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  content: "\f067";
  background: var(--accentClr);
  color: var(--neutral);
  height: 35px; width: 35px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;  
   border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.switcheroo__squircle:first-child .switcheroo__add:before {
    border-radius: 5px !important;
}

.switcheroo__squircle--button:hover {
  color: var(--accentClr);
}

/* Mettre le + que quand on hover le switcheroo */
#switcheroo:hover .switcheroo__squircle--button {
    display: flex;
}
#switcheroo .switcheroo__squircle--button {
    display: none;
}

#switcheroo .switcheroo__squircle:not(.active){display: none;}
#switcheroo:hover .switcheroo__squircle:not(.switcheroo__logo){display: flex; align-items: start; transition: all 2s ease-in-out;}
#switcheroo .switcheroo__squircle.active{order: 0;}
#switcheroo .switcheroo__squircle:not(.active){order: 2;}

/* Bouton de suppression */
.switcheroo__delete {
  display: grid;
  place-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  background-color: var(--accentClrDark);
  transform: scale(0);
  opacity: 1;
  transition: transform 128ms var(--ease), opacity 64ms var(--ease);
  cursor: pointer;
  color: var(--neutral);
  line-height: 0;
}

.switcheroo__squircle:hover .switcheroo__delete {
  opacity: 1;
  transform: scale(1);
}

/* TOOLTIP - INFOBULLE DU PSEUDO ---*/

/* Conteneur du pseudo */
.switcheroo__popper {
  background-color: var(--neutral);
  border: 1px solid var(--contrast);
  padding: 0.5rem;
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 5px;
  z-index: 0;
  opacity: 0;
  transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
  pointer-events: none;
  color: var(--textColor);
  right: 45px;
  top: 19px;
  transform-origin: left;
  transform: translateY(-50%) scale(0.98);
  display: flex;
  line-height: 14px;
  align-items: center;
}

/* Flèche tooltip */
.switcheroo__popper:before {
  content: "\f061";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;
  padding-right: 0.5rem;
}

.switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

/* LOGO --- retirez display:none pour retrouver le logo */
.switcheroo__logo,
.switcheroo__divider {
  display: none;
}

/* MODAL : FENETRE DE CONNEXION --- */

/* Fond de l'affichage de connexion */
.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: rgba(0, 0, 0, 0.2);
}

/* Boîte de connexion */
.monomer-modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  padding: 30px;
  transition: 0.2s opacity ease;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: var(--neutral);
  padding: 50px;
}

/* Champs à remplir */
.switcheroo__form-row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* Nom du champ */
.switcheroo__form-label {
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Zone de texte */
.switcheroo__form-input {
  padding: 6px !important;
  border-radius: 4px;
  width: 100%;
  background-color: var(--neutral);
  color: var(--contrast);
  cursor: text;
}

/* Bouton de connexion */
.switcheroo__form-button {
  border-radius: 8px;
  padding: 4px 10px 5px;
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 14px;
  align-self: center;
  background-color: var(--accentClrDark);
  cursor: pointer;
  color: var(--neutral);
  font-weight: 600;
  margin-top: 10px;
}

.monomer-modal.monomer-open,
.monomer-overlay.monomer-open {
  opacity: 1;
}

/* Fermer la boîte de connexion */
.monomer-close {
  font-size: 16px;
  line-height: 12px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: var(--textColor);
  border: 0;
  outline: none;
  border-radius: 4px;
  padding: 0;
  padding-left: 1px;
}

/*** ------------------------------- ***/
/*** QUI EST EN LIGNE -------------- ***/
.qeel_parto{display: flex; flex-direction: row-reverse; flex-wrap: wrap; justify-content: space-between; position: relative; margin-top: 20px; gap: 10px;}
.qeel_parto img, .pa_poto img{filter: grayscale(100%);}
.qeel_parto img {width: 60px !important; height: 60px !important; }
.qeel_parto img:hover, .pa_poto img:hover{filter: grayscale(0%);}
.qeel_parto_div{text-align: right; width: 30%; display: flex; flex-direction: column; justify-content: center; font-family: var(--fontMono); 
  text-transform: uppercase;}
.qeel_parto_titre{font-size: var(--large-size);}
.qeel_parto:before{content: ""; background-image: url("https://2img.net/i.imgur.com/nGyARIi.png"); background-size: 100px; background-repeat: no-repeat;
  	width: 100px; height: 150px; top: -20px; left: -80px;
  	transform: rotate(-6deg); position: absolute;}

.qeel_liens_rapides{position: absolute;
    z-index: 3;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    left: 2px;
    top: 0;
    height: 50px; color: var(--contrast) !important;}
.qeel_liens_rapides a i{border-color: }

a > i{border-color: var(--textColorAccent);}
.qeel_img{position: absolute; width: 100%; left:0;
  overflow: hidden; margin-top: -490px;}
.qeel_img img{ width: 130%; left: -17%; position: relative;
  height: auto; filter: var(--filterImg); z-index: 2;}

div#voletA{display: flex; gap: 10px; flex-direction: column;}
#online_users br {
  display: none;
}
#online_users {margin-bottom: 10px; overflow: auto; max-height: 100%;}
#total_users{font-family: var(--fontMono); text-transform: uppercase;}
#total_users > strong{display: none !important;}

#last_connected{overflow: auto; max-height: 100%;}

#page-footer br{display: none;}
#page-footer{
    font-size: var(--little-size);
    margin: 20px 0 0;
    display: flex;
    justify-content: space-evenly;
  align-items: center;}

.qeel_contenant {grid-column: span 2 / span 2; width: 100%;
  height: 279px;
  position: relative; 
  overflow: hidden;
}

.tabs_all{position: relative;}

/* positionnement global de tous les labels*/
.qeel_contenant label { 
  position: absolute; 
  top: 0px;
  cursor: pointer;
  /* et à partir de là c'est purement esthétique */
  width: 137px;
  box-sizing: content-box;
  font-family: var(--fontMono);
  text-transform: uppercase;
  padding: 15px; 
  text-align: center;
  border-radius: 15px 15px 0 0; 
  border: 1px solid var(--contrast);
}

/* positionnement de chaque onglets séparément */
.qeel_contenant label[for="voletA"]{ 
  right: 200px;
}
.qeel_contenant label[for="voletB"]{
  right: 15px;
}

.qeel_contenant input:checked + label {
  /* style du label displayed */
  border-bottom: 1px solid var(--neutral);
  box-shadow: 0px 1px 0px 3px var(--neutral) inset;
  z-index: 5;
}

.qeel_contenant input:not(checked) + label {
  /* style du label displayed */
  z-index: 3;
}

/* cache les radio button */
.qeel_contenant input { 
  display: none;
}

/* positionnement global des onglets texte */
.qeel_contenant > div.onglet {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  background: var(--neutral);
  border: 1px solid var(--contrast);
  border-radius: 5px;
  z-index: 4;
  padding: 30px;
  margin-top: -1px;
}

/* fondu d'un onglet à un autre*/
.qeel_contenant input#voletA:not(:checked) ~ #voletA, .qeel_contenant input#voletB:not(:checked) ~ #voletB {
   opacity: 0;
  z-index: -1;
}



#qeel {display: grid;
  grid-template-columns: 300px 100px 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px; position: relative; margin-top: 90px;
}
#qeel:before, #qeel:after{content:""; position: absolute; transform: rotate(90deg); height: 320px; width: 290px; z-index: 1; top: 150px;}
#qeel:before{background-image: var(--cervo1); right:200px; }
#qeel:after{content:""; background-image: var(--cervo2); right: -100px;}

.qeel_stats{z-index: 3; display: flex; flex-direction: column; gap: 10px;}
#last_user{font-family: var(--fontMono); margin-bottom: 10px; min-height: 29px; text-transform: uppercase; 
    display: flex; justify-content: flex-start; gap: 10px; align-items: center;}
.groups{border-radius: 5px; background-color: var(--textInsert); display: flex; height: 50px; color: var(--neutral);
	justify-content: space-between; align-items: center; padding: 10px;}
a.groups:hover{color: var(--neutral) !important;}
.groups:last-child{color: var(--contrast) !important;}
.groups.mortels{background-color: var(--grpMortelles);}
.groups.astr{background-color: var(--grpAstr); font-family: var(--fontAstr); font-size: 16px; font-weight: 100;}
.groups.erudroides{background-color: var(--grpErudroides); font-family: var(--fontMono);}


.qeel_shoutbox {grid-column: span 2 / span 2; grid-row-start: 2; border: 1px solid var(--contrast);
    border-radius: 5px; padding: 20px; height: 423px; width: 100%; z-index: 3; background-color: var(--neutral); z-index: 3; position: relative;
}

.qeel_bas_droit{grid-column-start: 3; grid-row-start: 2; align-self: end; z-index: 3; display: flex; flex-direction: column; align-items: flex-end;}
.qeel_credits{text-align: right;
	width: max-content;
    margin-bottom: 10px;
    background: var(--neutral);
    padding: 10px;
    border-radius: 5px;
    opacity: 0.85;
    font-family: var(--fontMono);
    text-transform: uppercase;}
div#qeel_gazette_content{overflow: auto; max-height: 217px;}
.qeel_gazette { border: 1px solid var(--contrast); border-radius: 5px;
    padding: 20px; width: 100%; max-height: 332px; position: relative; z-index: 5; background: var(--neutral);}
.qeel_gazette h2, .pa_derniers_sujets_global h2, .pa_updates h2{border-bottom: 1px solid var(--contrast); margin-bottom: 10px; 
  padding-bottom: 5px;}
.qeel_lien_gazette{font-family: var(--fontMono); text-align: right; margin-top: 10px; text-transform: uppercase;}
.qeel_bas_droit i, .qeel_liens_rapides i, .qeel_parto_div i, .pa_general a i{border: 1px solid var(--contrast); 
  border-radius: 5px; padding: 5px; aspect-ratio: 1/1; font-size: 12px;
    line-height: 12px; width: 24px; text-align: center !important;}

/*** ------------------------------- ***/
/*** BARRE DE NAVIGATION ----------- ***/

.navbar_gauche {
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: flex-start;
  gap: 30px;
  font-size: 0px;
}
.navbar_gauche li a{font-size: 14px;}
.navbar_gauche li{white-space: nowrap;}
button.color-scheme-toggle{padding: 0px !important;}
.color-scheme-toggle .icon {
    font-size: 15px;
    background: var(--accentClrDark);
    border-radius: 5px;
    width: 30px !important;
    height: 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.color-scheme-toggle .icon a:hover{color: var(--neutral);}

/* Suppression des liens peu utilisés*/
.navbar_gauche li:has(a[href^="/faq"]), .navbar_gauche li:has(a[href^="/calendar"]), .navbar_gauche li:has(a[href^="/groups"]), 
.navbar_gauche li:has(a[href^="/images"]), .navbar_gauche li:has(a[href^="/search"]), .navbar_gauche li:has(a[href^="/discover"]),
.navbar_gauche li:has(a.mainmenu[href="/"]){display: none;}

/* Lien navigation au survol*/
.overall_navbar a:hover {color: var(--accentClr);}

/* Image des liens */
a.mainmenu img {
  display: none;
}

/* Pop up navbar */
.popup_liens_utiles {position: relative; display: inline-block; cursor: pointer;}
.popup_liens_utiles > .popup_content {display: none;
  position: absolute;
  z-index: 1;
  padding: 20px 10px 10px 0;
  font-family: var(--font);
}
.popup_liens_utiles > .popup_content > div{padding: 10px; border: 1px solid var(--contrast); border-radius: 5px; max-width: 500px; width: max-content;
  background-color: var(--neutral); white-space: normal;}
.popup_liens_utiles .popup_content a{padding: 0 5px; font-weight: normal;}
.popup_content .header_icon{color: var(--accentClrDark) !important; width: 18px; text-align: center;}
.popup_liens_utiles .fa-solid{font-size: 14px; color: var(--lighterGrey);}
.popup_liens_utiles hr {margin: 10px 0;}
.popup_liens_utiles:hover > .popup_content {display: block;}
/*** ---------------- ***/
/*** UP & DOWN BUTTON ***/
.up_down_buttons{position: fixed; left: 10px; display: flex; flex-direction: column; gap:15px; height: 100%; z-index: 10; justify-content: center;}
.up_down_buttons > a {background-color: var(--accentClrDark); padding: 5px; color: var(--neutral); border-radius: 5px; width: 30px; height: 30px; display: flex;
			justify-content: center; align-items: center; z-index: 999;}
.up_down_buttons a:hover i{color: var(--neutral) !important;}
/* Cacher le bouton admin par défaut */
.up_down_buttons > a.adminlink {
  display: none;
}